/* --------------GENERALE-------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 17px;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* --------------SEZIONE HEADER-------------- */

.header {
    text-align: center;
    margin-bottom: 45px;
}
.header > h2 {
    color: #E53170;
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 45px;
}

/* -----------SEZIONE LAYOUT CARDS----------- */

.cards-layout {
    height: 250px;
    align-items: center;
}

.card {
    width: calc(100%/3 - 30px);
    height: 100px;
    color: white;
    background-color: #0f0e17;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    float: left;
    margin: 0 15px 50px;
}

.card-pic {
    height: 100px;
    float: left;
    padding-right: 16px;
}

.card-info {
    padding: 5px;
}

.small {
    display: inline-block;
    margin: 10px 0;
    font-size: smaller;
}

.email {
    color: #58c2eb;
    text-decoration: none;
    display: block;
    font-size: smaller;
}